.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    /* background-image: url('../public/logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
  }
  
  .login-form {
    width: 30%;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  .login-form h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-family: "Jetbrains Mono";
    font-weight: bold;
    color: rgb(0, 105, 255);
    text-transform: none;
    font-size: 1rem;
  }
  
  span.required {
    color: rgb(255, 58, 46);
  }
  
  #username,
  #password {
    font-family: "Jetbrains Mono";
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin: 0.5rem 0rem;
    box-sizing: border-box;
  }
  
  .login-page button.login {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
  }
  
  .actions {
    margin-bottom: 2rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #forgot-password {
    font-family: "Jetbrains Mono";
    color: rgb(0, 105, 255);
    margin-top: 15px !important;
  }
  
  .error-message {
    color: rgb(130, 8, 0);
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
  }
  