/* Login header */
.login-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding-left: 2rem;
  padding-right: 2rem;
  background: rgb(255, 255, 255);
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px;
}

.login-header .title{
  font-size: 20px;
  font-weight: 500;
}

.login-header .signup-msg {
  font-size: 14px;
  margin-right: 10px;
}

.login-header .signup-link {
  font-family: "Jetbrains Mono";
  margin-right: 10px;
}
.title-container {
  display: flex;
  align-items: center;
}

.title {
  font-size: 18px;
}

.user-role {
  margin-left: 10px;
  font-weight: bold;
  font-size: 25px;
  color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}